@import url('https://fonts.googleapis.com/css2?family=Itim&family=Prompt:wght@300&display=swap');

body {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/stargacha-4806d.appspot.com/o/background.png?alt=media&token=1d27b417-d2fd-4878-84f2-0a0f61b1d43a");
	background-size: cover;
	background-color: slateblue;
	font-family: 'Prompt', sans-serif;
	height: 100%;
}

#head{
	font-size: 300%;
}

.logo{
	box-shadow: inset -10px -10px 10px rgba(0, 0, 0, 0.1),
				inset 10px -10px 10px rgba(0, 0, 0, 0.1);
}

.textcut{
    overflow: hidden;
    text-overflow: ellipsis;
	word-break: break-all;
}

.hover{
	background-color: white;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover:hover{
	background-color: rgb(233, 233, 233);
}

.header{
	position: absolute;
	z-index: 1;
	left: 4%;
	top: 60px;
}

.header h5,h6{
	font-size: 120%;
}

.header img{
	width: 3.5rem;
	height: 3.5rem;
}

.container{
	width: 65%;
}

@media only screen and (max-width: 1200px) {
	.container{
		width: 80%;
	}
}


@media only screen and (max-width: 992px) {
	.header{
		top: 80px;
	}
	

	.header h5,h6{
		font-size: 95%;
	}
	
	.header img{
		width: 2.6rem;
		height: 2.6rem;
	}
}

@media only screen and (max-width: 766px) {
	.header h5,h6{
		font-size: 90%;
	}
	
	.header img{
		width: 1.5rem;
		height: 1.5rem;
	}
}

@media only screen and (max-width: 430px) {
	#head{
		font-size: 200%;
	}

	.header{
		top: 55px;
	}

	.header h5,h6{
		font-size: 60%;
	}
	
	.header img{
		width: 1.36rem;
		height: 1.36rem;
	}

	.container{
		width: 96%;
		font-size: 90%;
	}

	.container img{
		width: 150px;
		height: 150px;
	}
}