@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

body{
	background-image: url("https://firebasestorage.googleapis.com/v0/b/stargacha-4806d.appspot.com/o/background.png?alt=media&token=1d27b417-d2fd-4878-84f2-0a0f61b1d43a");
	background-size: cover;
	background-color: slateblue;
	font-family: 'Prompt', sans-serif;
	height: 100%;	
}

::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(175, 175, 175); 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #bbbbbb; 
  }

.logo{
	box-shadow: inset -10px -10px 10px rgba(0, 0, 0, 0.1),
				inset 10px -10px 10px rgba(0, 0, 0, 0.1);
}

.textcut{
    overflow: hidden;
    text-overflow: ellipsis;
	word-break: break-all;
}

.hover{
	background-color: white;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover:hover{
	background-color: rgb(233, 233, 233);
}

.btnhover{
	margin-top: 20px;
	background-color: rgb(255, 255, 255);
}

.btnhover:hover{
	background-color: rgb(205, 202, 233);
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modalcontent {
	display: none;
	background-color: #fefefe;
	margin: 2% auto;
	padding: 5px;
	width: 40%;
	transition: 0.5s;
}

.gachabox{
	width: 60%;
}

@media only screen and (max-width: 992px) {
	#left, #right{
		visibility: hidden;
	}
	
	.modalcontent {
		width: 60%;
	}

	.leftbar {
		height: 100%;
		width: 0%;
		position: fixed;
		z-index: 0;
		top: 0;
		left: 0;
		background-color: rgb(160, 151, 224);
		overflow-x: hidden;
		padding-top: 3%;
		transition: 0.5s;
	}

	.gachabox{
		width: 50%;
	}

	.rightbar {
		height: 100%;
		width: 0%;
		position: fixed;
		z-index: 0;
		top: 0;
		right: 0;
		background-color: rgb(160, 151, 224);
		overflow-x: hidden;
		padding-top: 3%;
		transition: 0.5s;
	}

	.profile{
		width: 38px;
		height: 38px;
	}
}

@media only screen and (max-width: 700px) {
	.gachabox{
		width: 70%;
	}
}

@media only screen and (max-width: 400px) {
	#left, #right{
		height: 600px;
	}

	.modalcontent {
		width: 80%;
	}

	.gachabox{
		width: 90%;
	}

	#count{
		font-size: 60%;
	}
}