@import url('https://fonts.googleapis.com/css2?family=Itim&family=Prompt:wght@300&display=swap');

body{
	background-image: url("../img/background.png");
	background-size: cover;
	/* background-color: slateblue; */
	font-family: 'Prompt', sans-serif;
	height: 100%;
}

.logo{
	box-shadow: inset -10px -10px 10px rgba(0, 0, 0, 0.1),
				inset 10px -10px 10px rgba(0, 0, 0, 0.1);
}

.hover{
	background-color: white;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover:hover{
	background-color: rgb(233, 233, 233);
}

/* .header-left{
	position: fixed;
	left: 1%;
	top: 1%;
}

.header-right{
	position: fixed;
	right: 1%;
	top: 1%;
} */

.box{
	background-color: rgb(227, 224, 241);
}