@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

body{
	background-color: slateblue;
	font-family: 'Prompt', sans-serif;
	height: 100%;	
}

.logo{
	box-shadow: inset -10px -10px 10px rgba(0, 0, 0, 0.1),
				inset 10px -10px 10px rgba(0, 0, 0, 0.1);
}

.textcut{
    overflow: hidden;
    text-overflow: ellipsis;
	word-break: break-all;
}

.hover{
	background-color: white;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover:hover{
	background-color: rgb(233, 233, 233);
}

@media only screen and (max-width: 992px) {
	#left, #right{
		visibility: hidden;
	}
/* https://www.w3schools.com/howto/howto_js_sidenav.asp */

	.leftbar {
		height: 100%;
		width: 0%;
		position: fixed;
		z-index: 0;
		top: 0;
		left: 0;
		background-color: rgb(160, 151, 224);
		overflow-x: hidden;
		padding-top: 3%;
		transition: 0.5s;
	}

	.rightbar {
		height: 100%;
		width: 0%;
		position: fixed;
		z-index: 0;
		top: 0;
		right: 0;
		background-color: rgb(160, 151, 224);
		overflow-x: hidden;
		padding-top: 3%;
		transition: 0.5s;
	}

	.profile{
		width: 38px;
	}
}