@import url('https://fonts.googleapis.com/css2?family=Itim&family=Prompt:wght@300&display=swap');

body{
	background-image: url("https://firebasestorage.googleapis.com/v0/b/stargacha-4806d.appspot.com/o/background.png?alt=media&token=1d27b417-d2fd-4878-84f2-0a0f61b1d43a");
	background-size: cover;
	font-family: 'Prompt', sans-serif;
	height: 100%;
}

input {
  height: 50px;
  width: 60%;
  margin: 10px 0;
  padding: 0 10px;
  outline: none;
  text-align: center;
  border-radius: 5px;
  transition: .5s;
  color: #000000;
  background-color: #eeeeee ;
  border: 1px solid black;
  border-radius: 4px;
}

input:hover, input:focus{
  background-color: #ffffff;
  width: 70%;
  color: #000000;
}

.login, .register{
  background-color: rgb(189, 198, 240);
}

.login:hover, .register:hover{
  background-color: rgb(149, 160, 211);
}

h1{
  font-size: 400%;
}

.container{
  width: 50%;
}

button{
  width: 25%;
}


@media only screen and (max-width: 992px) {
	.container {
		width: 66%;
	}

  button{
    width: 30%;
  }
}

@media only screen and (max-width: 576px) {
	.container{
    width: 90%;
  }

  h1{
    font-size: 300%;
  }

  img{
    width: 120px;
    height: 120px;
  }

  input{
    width: 96%;
  }
  input:hover{
    width: 100%;
  }

  button{
    width: 42%;
  }
}