@import url('https://fonts.googleapis.com/css2?family=Itim&family=Prompt:wght@300&display=swap');

body{
	background-image: url("https://firebasestorage.googleapis.com/v0/b/stargacha-4806d.appspot.com/o/background.png?alt=media&token=1d27b417-d2fd-4878-84f2-0a0f61b1d43a");
	background-size: cover;
	font-family: 'Prompt', sans-serif;
	height: 100%;
}

input {
  height: 50px;
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
  outline: none;
  text-align: center;
  border-radius: 5px;
  transition: .5s;
  color: #000000;
  background-color: #eeeeee ;
  border: 1px solid black;
  border-radius: 4px;
}

input:focus{
  background-color: #ffffff ;
}

h1{
  font-size: 400%;
}

.container{
  width: 40%;
}

.regisbutton{
  background-color: rgb(189, 198, 240);
  width: 40%;
}

.regisbutton:hover{
  background-color: rgb(149, 160, 211);
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid steelblue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 992px) {
  .container{
    width: 70%;
  }

  .regisbutton{
    width: 36%;
  }
}

@media only screen and (max-width: 576px) {
	.container{
    width: 90%;
  }

  h1{
    font-size: 300%;
  }

  img{
    width: 120px;
    height: 120px;
  }

  .regisbutton{
    width: 42%;
    font-size: 16px;
  }
}